In [4]:
import pandas as pd
df = pd.read_csv('train.csv')
df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
3,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
4,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,101152,0,Cash loans,F,N,N,0,112500.0,495985.5,17946.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
495,101153,0,Cash loans,F,N,Y,0,225000.0,1113840.0,57001.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
496,101154,0,Cash loans,F,Y,Y,0,144000.0,517536.0,28206.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
497,101155,0,Cash loans,M,N,Y,0,315000.0,1288350.0,37800.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,1.0
498,101157,0,Cash loans,F,Y,Y,0,135000.0,679500.0,22585.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0